In [54]:
print("Hello,World!")

Hello,World!

In [52]:
a = input("Enter something:")
print("Entered is:",a)

Enter something: Hello

Entered is: Hello

In [50]:
num = float(input("Enter a number:"))
if num > 0:
    print("Numnber is positive")
elif num < 0:
    print("Number is negative")
else:
    print("Number is zero")

Enter a number: 0

Number is zero

In [48]:
n1 = float(input("n1:"))
n2 = float(input("n2:"))
n3 = float(input("n3:"))
if (n1 >= n2) and (n1 >= n3):
    largest_number = n1
elif (n2 >= n1) and (n2 >= n3):
    largest_number = n2
else:
    largest_number = n3
print("Largest number is:",largest_number)

n1: 45
n2: 99
n3: 32

Largest number is: 99.0

In [46]:
num = int(input("Enter a number:"))
fact = 1
if num < 0:
    print("Factorial is not defined for negative number.")
elif num == 0:
    print("Factorial is 1.")
else:
    for i in range(1,num+1):
        fact *= i
    print("The factorail of",num,"is",fact)

Enter a number: 10

The factorail of 10 is 3628800

In [44]:
a = 10
b = 10.10
c = "Hello"
d = True
print("a is",a,"and",type(a))
print("b is",b,"and",type(b))
print("c is",c,"and",type(c))
print("d is",d,"and",type(d))

a is 10 and <class 'int'>
b is 10.1 and <class 'float'>
c is Hello and <class 'str'>
d is True and <class 'bool'>

In [42]:
a = int(input("Enter number:"))
b = str(input("Enter a value:"))
print("Before swapping:")
print("a = ",a)
print("b = ",b)
a,b = b,a
print("After swapping:")
print("a = ",a)
print("b = ",b)

Enter number: 45
Enter a value: Hello

Before swapping:
a =  45
b =  Hello
After swapping:
a =  Hello
b =  45

In [40]:
c = float(input("Enter temperature in celsius:"))
f = (c * 9/5) + 32
print("Temperature in fahrenheit is",f)

Enter temperature in celsius: 45

Temperature in fahrenheit is 113.0

In [38]:
s1 = str(input("Enter first string:"))
s2 = str(input("Enter second string:"))
s = s1 + s2
print("Concatenated string of",s1,"and",s2,"is",s)

Enter first string: RA
Enter second string: IoT

Concatenated string of RA and IoT is RAIoT

In [36]:
a = 45
b = 89.89
c = "Hello"
d = True
print("The type of",a,"is",type(a))
print("The type of",b,"is",type(b))
print("The type of",c,"is",type(c))
print("The type of",d,"is",type(d))

The type of 45 is <class 'int'>
The type of 89.89 is <class 'float'>
The type of Hello is <class 'str'>
The type of True is <class 'bool'>

In [22]:
na = int(input("Enter first number:"))
nb = int(input("Enter second number:"))
add = na + nb
subtract = na - nb
multiply = na * nb
print("Addition of",na,"and",nb,"is",add)
print("Subtraction of",na,"and",nb,"is",subtract)
print("Multiplication of",na,"and",nb,"is",multiply)
if nb != 0:
    divide = na / nb
else:
    print("Division not defined")
print("Division of",na,"and",nb,"is",divide)

Enter first number: 56
Enter second number: 89

Addition of 56 and 89 is 145
Subtraction of 56 and 89 is -33
Multiplication of 56 and 89 is 4984
Division of 56 and 89 is 0.6292134831460674

In [20]:
na = int(input("Enter first number:"))
nb = int(input("Enter second number:"))
if na == nb:
    print("Numbers are equal.")
elif na != nb:
    print("Numbers are not equal.")
    if na < nb:
        print("First number is less than second.")
    else:
        print("Second number is less than first.")

Enter first number: 89
Enter second number: 56

Numbers are not equal.
Second number is less than first.

In [18]:
a = True
b = False
c = True
x = input("Type a or b or c:")
print("a and b:",a and b)
print("b and c:",b and c)
print("c and a:",c and a)
print("a or b:",a or b)
print("b or c:",b or c)
print("c or a:",c or a)
print("not a:",not a)
print("not b:",not b)
print("not c:",not c)

Type a or b or c: a

a and b: False
b and c: False
c and a: True
a or b: True
b or c: True
c or a: True
not a: False
not b: True
not c: False

In [16]:
n = int(input("Enter a number to calculate square:"))
square = n * n
print("Square of",n,"is",square)

Enter a number to calculate square: 25

Square of 25 is 625

In [14]:
n = int(input("Enter a number:"))
if n % 2 == 0:
    print("Entered number is even.")
else:
    print("Entered number is odd.")

Enter a number: 45

Entered number is odd.

In [12]:
n = int(input("Enter the number till which sum needs to be calculated:"))
s = n*(n+1) // 2
print("Sum of first",n,"natuaral numbers is",s)

Enter the number till which sum needs to be calculated: 10

Sum of first 10 natuaral numbers is 55

In [8]:
year = int(input("Enter a year:"))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Entered year is a leap year.")
else:
    print("Entered year is not a leap year")

Enter a year: 2024

Entered year is a leap year.

In [6]:
os = str(input("Enter a string:"))
rs = os[::-1]
print("Reversed string is:",rs)

Enter a string: asdf

Reversed string is: fdsa

In [4]:
os = str(input("Enter a string:"))
rs = os[::-1]
if os == rs:
    print("String is palindrome.")
else:
    print("String is not a palindrome.")

Enter a string: asdfggfdsa

String is palindrome.

In [2]:
numbers = []
n = int(input("How many numbers would you like to enter?:"))
for i in range(n):
    num = int(input("Enter numbers:"))
    numbers.append(num)
numbers.sort()
print("Numbers in ascending order are:",numbers)

How many numbers would you like to enter?: 5
Enter numbers: 23
Enter numbers: 56
Enter numbers: 89
Enter numbers: 45
Enter numbers: 89

Numbers in ascending order are: [23, 45, 56, 89, 89]